<div class="form-group">
    {{ form_label(registrationForm.email, 'Ввидите ваш Email') }}
    <div class="input-group mb-2">
        {% if registrationForm.email.vars.symbol is not null %}
            <div class="input-group-prepend">
                <div class="input-group-text">{{ registrationForm.email.vars.symbol }}</div>
            </div>
        {% endif %}
        {{ form_widget(registrationForm.email, {
            attr: { placeholder: 'Ваш Email...'},
        }) }}
    </div>
</div>
