<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/ico" sizes="16x16" href="/favicon.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/detail.css">

    <title>Spill-Coffee-On-The-Keyboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container py-2">

            <a class="navbar-brand" href="/"><i class="fas fa-coffee text-muted"></i> Spill-Coffee-On-The-Keyboard  <i class="fas fa-keyboard text-muted"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="nav-profile-img rounded-circle" src="/images/profile.png">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile.html">Профиль</a>
                            <a class="dropdown-item" href="/create.html">Создать статью</a>
                            <a class="dropdown-item" href="/admin.html">Админ</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Выйти</a>
                        </div>
                    </li>
                    <li class="nav-item d-flex my-auto">
                        <a class="btn btn-outline-light my-2 my-sm-0 mr-2" href="/auth.html">Войти</a>
                        <a class="btn btn-outline-light my-2 my-sm-0" href="/register.html">Регистрация</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">

            <div class="col-12">

                <div class="row no-gutters border flex-md-row mb-4 shadow-sm bg-white featured-border">
                    <div class="article-detail col-sm-12">
                        <div class="col-sm-12 p-2">
                            <div class="media d-flex align-content-center">
                                <img class="article-detail-image align-self-start mr-3 rounded" src="/images/article-3.jpg">
                                <div class="media-body d-inline-block align-self-center">
                                    <h1 class="mb-2">Когда пролил кофе на клавиатуру</h1>
                                    <div class="d-flex mb-2">
                                        <div class="text-muted align-self-center">
                                            <img class="article-author-img rounded-circle mr-2" src="https://robohash.org/флекс_абсолютович.jpg?set=set3">
                                            Флекс Абсолютович
                                        </div>
                                        <div class="text-muted align-self-center ml-4"><i class="fas fa-clock size-is-"></i> 1 месяц назад</div>
                                    </div>
                                    <div class="mb-2 d-flex">
                                        <span class="badge badge-pill badge-secondary mr-2">Балбес</span>
                                        <span class="badge badge-pill badge-secondary mr-2">Криворучка</span>
                                        <span class="badge badge-pill badge-secondary mr-2">Рукопоп</span>
                                    </div>
                                    <div class="mb-2">
                                        <div class="text-muted align-self-center article-detail-arrows">
                                            120 
                                            <button class="btn btn-success ml-3"><i class="fas fa-arrow-up"></i></button>
                                            <button class="btn btn-danger"><i class="fas fa-arrow-down"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-12 mt-2 mb-4">
                            <p>Lorem ipsum <strong>кофе</strong> dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt <a href="/">Фронтенд Абсолютович</a> ut labore et dolore magna aliqua.
                                Purus viverra accumsan in nisl. Diam vulputate ut pharetra sit amet aliquam. Faucibus a
                                pellentesque sit amet porttitor eget dolor morbi non. Est ultricies integer quis auctor
                                elit sed. Tristique nulla aliquet enim tortor at. Tristique et egestas quis ipsum. Consequat semper viverra nam
                                libero. Lectus quam id leo in vitae turpis. In eu mi bibendum neque egestas congue
                                quisque egestas diam. <strong>кофе</strong> blandit turpis cursus in hac habitasse platea dictumst quisque.</p>

                            <p>Ullamcorper malesuada proin libero nunc consequat interdum varius sit amet. Odio pellentesque
                                diam volutpat commodo sed egestas. Eget nunc lobortis mattis aliquam. Cursus vitae congue
                                mauris rhoncus aenean vel. Pretium viverra suspendisse potenti nullam ac tortor vitae.
                                A pellentesque sit amet porttitor eget dolor. Nisl nunc mi ipsum faucibus vitae. Purus sit amet
                                luctus venenatis lectus magna fringilla urna. Sit amet tellus cras adipiscing enim. Euismod
                                nisi porta lorem mollis aliquam ut porttitor leo.</p>

                            <p>Morbi blandit cursus risus at ultrices. Adipiscing vitae proin sagittis nisl rhoncus mattis
                                rhoncus. Sit amet commodo nulla facilisi. In fermentum et sollicitudin ac orci phasellus
                                egestas tellus. Sit amet risus nullam eget felis. Dapibus ultrices in iaculis nunc sed
                                augue lacus viverra. Dictum non consectetur a erat nam at. Odio ut enim blandit volutpat
                                maecenas. Turpis cursus in hac habitasse platea. Etiam erat velit scelerisque in. Auctor
                                neque vitae tempus quam pellentesque nec nam aliquam. Odio pellentesque diam volutpat commodo
                                sed egestas egestas. Egestas dui id ornare arcu odio ut.</p>

                        </div>


                        <div class="col-sm-12 mb-4">
                            <h3><i class="pr-3 far fa-comment text-secondary"></i>3 Комментария</h3>
                            <hr>

                            <div class="row mb-4">
                                <div class="col-sm-12">
                                    <div class="comment-container align-self-start col-sm-6">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Комментировать</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <div class="media">
                                        <img class="align-self-start comment-img rounded-circle" src="/images/profile.png">
                                        <div class="media-body align-self-start col-sm-6">
                                            <b>Вью j эс</b>
                                            <small>11 дней назад</small>
                                            <br>
                                            <span class="comment"> Adipisci quia dolores non vel vero suscipit. Et voluptates aut alias consequatur.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <div class="media">
                                        <img class="align-self-start comment-img rounded-circle" src="/images/profile.png">
                                        <div class="media-body align-self-start col-sm-6">
                                            <b>Фронтенд Фулстков</b>
                                            <small>11 дней назад</small>
                                            <br>
                                            <span class="comment">Nunquam transferre equiso. Amicitia, elevatus, et tumultumque. Cur extum tolerare? Ubi est rusticus domus?</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-sm-12">
                                    <div class="media">
                                        <img class="align-self-start comment-img rounded-circle" src="/images/profile.png">
                                        <div class="media-body align-self-start col-sm-6">
                                            <b>Барон Сосискин</b>
                                            <small>11 дней назад</small>
                                            <br>
                                            <span class="comment">Yarr, ye jolly cannibal - set sails for death!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <footer class="footer bg-white">
        <div class="container text-center">
            <span class="text-muted"><b>Spill-Coffee-On-The-Keyboard</b> - учебный проект для домашнего задания по курсу Symfony</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>