{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row {% block content_row_class %}border flex-md-row mb-4 shadow-sm bg-white{% endblock %}">
                <div class="col-12 {% block content_col_class %}{% endblock %}">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}