{% extends 'base.html.twig' %}

{% block title %}Изменения статьи{% endblock %}

{% block body %}
    <div class="container">
        {% if show_Error %}
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        Не удалось изменить статью
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-12">
                <div class="p-4 border rounded-lg mb-4 shadow-sm bg-white">

                    <h1>Изменение статьи</h1>
                    {% include 'admin/article/form.html.twig' with  {button_text: 'Изменить'} %}
                </div>
                </form>
            </div>
        </div>
    </div>

    </div>

{% endblock %}
