{% apply inline_css(source('@css/email.css')) %}
<!doctype html>
<html lang="ru">
<head>

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block content_title_name %}{% endblock %}, {{ email.subject }}</title>

</head>
<body>
<table class="head-wrap">
    <tr>
        <td></td>
        <td class="header container" >
            <div class="content">
                <table>
                    <tr>
                        <td><h6 class="collapse">{% block content_name %}{% endblock %}</h6></td>
                        <td align="right"><a class="collapse" href="{{ url('app_homepage') }}">Spill-Coffee-On-The-Keyboard</a></td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
{% block content %}
{% endblock %}

<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p class="gray">С любовью, Spill-Coffee-On-The-Keyboard</p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>

</body>
{% endapply %}
